
<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = page.tag;
    if (page.archive){
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = "Archives";
    }
%>
<% if(title) { %>
   <h5 class="">与写作有关 — <%- title %></h5>
<% } %>
<% page.posts.each(function(item){ %>

  <article>
    <div class="row">

      <div class="three columns left lit">
        <p class="bottom"><%- moment(item.date).locale('zh-cn').format('ll') %></p>
      </div>
      <div class="nine columns left mb-3">
        <a href="<%- url_for(item.path) %>" class=""><%- item.title %></a>
      </div>
    </div>
  </article>

<% }); %>
<%- partial('partial/pagination') %>
